* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --paragraph: #8A8A8A;
  --description: #ACACAC;
  --light-green: #945ab8;
  --light-purple: #b862cf;
  --background: #0c010e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: #fff;
  font-size: 1.2rem;
}

h1.pokedex {
  margin: 5rem 10rem;
  padding-left: 2rem;
  font-size: 7rem;
  text-transform: capitalize;
}

p.power {
  width: fit-content;
  padding: 0.5rem 1.6rem;
  border-radius: 5rem;
  background-color: #40dcbd;
  filter: brightness(1.1);
}

section.pokemons {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem 10rem;
}
section.pokemons .card-pokemon {
  width: 30rem;
  height: 20rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 3rem;
  background-color: var(--light-green);
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/pokebola.png);
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-size: contain;
  background-position: 130%;
  transition: transform 0.5s ease;
}
section.pokemons .card-pokemon .items h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}
section.pokemons .card-pokemon .items p.power:last-child {
  margin-top: 0.8rem;
}
section.pokemons .card-pokemon img {
  width: fit-content;
  height: 100%;
  padding: 1rem;
  transition: transform 0.5s ease-in-out;
}
section.pokemons .card-pokemon:hover {
  transform: scale(1.1);
}
section.pokemons .card-pokemon:hover img {
  transform: scale(1.2);
}

.overlay {
  content: "";
  background: #373636;
  opacity: 0.8;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 99;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 55rem;
  height: 95rem;
  background-color: #40dcbd;
  border-radius: 5rem;
  margin: auto;
  box-sizing: border-box;
}
.modal .icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 2rem;
  padding: 3rem;
}
.modal .icons img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
.modal .icons i {
  cursor: pointer;
  margin: auto 0;
}
.modal .top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.modal .top-info .description h4 {
  font-size: 4rem;
  text-transform: capitalize;
}
.modal .top-info .description .powers {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.2em black;
}
.modal .top-info .description .power:last-child {
  margin-left: 1rem;
}
.modal .top-info span {
  font-size: 2.5rem;
  font-weight: bold;
}
.modal .bottom-info {
  background-color: #202020;
  border-radius: 5rem;
  padding-bottom: 6rem;
  width: 100%;
  height: 50%;
  padding: 5rem;
  font-size: 1.8rem;
}
.modal .bottom-info .options {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
.modal .bottom-info .options a {
  text-decoration: none;
  color: var(--description);
  font-weight: bold;
}
.modal .bottom-info .line {
  margin-top: 2rem;
  height: 1px;
  width: 45rem;
  background: rgba(226, 226, 226, 0.5098039216);
}
.modal .bottom-info .section {
  margin: 2rem;
  display: flex;
}
.modal .bottom-info .section .col-a {
  color: var(--description);
}
.modal .bottom-info .section .col-b {
  margin-left: 8rem;
}
.modal .bottom-info .section.second .col-b {
  margin-left: 5rem;
}
.modal .bottom-info h4 {
  margin: 2rem;
}
.modal img.pokemon {
  position: relative;
  left: 15rem;
  top: 4rem;
  width: 25rem;
  height: 25rem;
}

.modal::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(../assets/pokebola.png);
  background-repeat: no-repeat;
  opacity: 0.2;
  background-size: auto;
  background-position: 130%;
  z-index: -1;
}

@media only screen and (max-width: 550px) {
  h1.pokedex {
    padding: 0;
    width: fit-content;
    margin: 2rem auto;
    font-size: 5rem;
  }
}
@media only screen and (max-width: 875px) {
  section.pokemons {
    margin: 5rem 0;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
